<template>
  <div class="w-full m-4 bg-error">
    <div class="p-4 text-error-content">
      <p class="font-bold">Encontramos os seguintes problemas:</p>
      <ul>
        <li v-for="(error, index) in errors.errors" :key="index">
          {{ getErrorMessage(error) }}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "ErrorSlot",
  props: ["errors"],
  methods: {
    getErrorMessage(error) {
      return error[0].replace(["[", "]", "(", ")"], "");
    },
  },
};
</script>
