<template>
  <div
    class="w-full h-24 bg-primary flex flex-row justify-between"
    v-if="showHeader"
  >
    <!-- Logo and menu-->
    <div class="flex flex-row space-x-6">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="my-auto ml-8 btn btn-primary btn-md"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13 10V3L4 14h7v7l9-11h-7z"
        />
      </svg>
      <router-link to="/" class="btn btn-primary my-auto"
        >Dashboard</router-link
      >
      <router-link to="/exercises" class="btn btn-primary my-auto"
        >Exercicios</router-link
      >
      <router-link to="/extras" class="btn btn-primary my-auto"
        >Extras</router-link
      >
      <router-link to="/help" class="btn btn-primary my-auto"
        >Ajuda</router-link
      >
    </div>
    <!-- Sign in -->
    <div class="flex flex-row space-x-8 mr-8">
      <router-link
        to="/login"
        class="btn btn-secondary btn-sm my-auto"
        v-if="!user"
        >Login</router-link
      >
      <button
        @click="logout()"
        class="btn btn-secondary btn-sm my-auto"
        v-if="user"
      >
        Logout
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "HeaderDefault",
  methods: {
    logout() {
      localStorage.removeItem("token");
      this.$store.commit("user", null);
      this.$router.push("/login");
    },
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    showHeader() {
      return this.$store.state.showHeader;
    },
  },
};
</script>
