<template>
  <div class="w-full h-full">
    <span>Hi {{ user.name }}</span>
  </div>
</template>
<script>
export default {
  name: "DashboardDefault",
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
};
</script>
