<template>
  <div class="">
    <div
      class="card w-56 bg-base-100 shadow-xl"
      v-for="(exercise, index) in exercises"
      :key="index"
    >
      <figure>
        <img
          src="https://api.lorem.space/image/shoes?w=400&h=225"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Shoes!
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">Fashion</div>
          <div class="badge badge-outline">Products</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Swal from "sweetalert2";
import axios from "axios";
export default {
  name: "ExercisesDefault",
  data() {
    return {
      exercises: null,
    };
  },
  async mounted() {
    Swal.showLoading();
    try {
      const response = await axios.get("/exercises");
      console.log(response);
      this.exercises = response.data.data;
      Swal.close();
    } catch (error) {
      Swal.fire({
        title: "Ocorreu um problema!",
        text: "Não foi possivel trazer os exercicios cadastrados",
        icon: "info",
        showConfirmButton: true,
      });
    }
  },
};
</script>
