<template>
  <div
    class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-xl w-full space-y-8 bg-neutral rounded-lg p-16">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-16 mx-auto bg-primary rounded-full shadow-lg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="white"
          stroke-width="1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          />
        </svg>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-200">
          Faça login com a sua conta
        </h2>
      </div>
      <form class="mt-8 space-y-6" @submit.prevent="onSubmit">
        <div v-if="errors">
          <error-slot :errors="errors" />
        </div>
        <input
          type="text"
          placeholder="birl@fitness.com.br"
          class="input input-bordered input-accent w-full"
          v-model="form.email"
        />

        <input
          type="password"
          placeholder="* * * * *"
          class="input input-bordered input-accent w-full"
          v-model="form.password"
        />

        <div class="flex flex-row justify-between">
          <label class="cursor-pointer label space-x-2">
            <input type="checkbox" class="checkbox checkbox-accent" />
            <span class="label-text">Remember me</span>
          </label>

          <a href="#" class="label-text mt-2">Esqueci a senha</a>
        </div>

        <div class="flex flex-row justify-between">
          <router-link class="btn btn-primary" to="/register"
            >Cadastrar-se</router-link
          >
          <button class="btn btn-primary px-8">Login</button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import ErrorSlot from "../Resources/ErrorSlot.vue";

export default {
  name: "LoginDefaut",
  components: {
    ErrorSlot,
  },
  data() {
    return {
      errors: null,
      form: {
        email: "",
        password: "",
        device_name: "web",
      },
    };
  },
  methods: {
    async onSubmit() {
      try {
        const cookie = await axios.get("sanctum/csrf-cookie");
        if (cookie) {
          const response = await axios.post("api/login", this.form);
          console.log(response);
          if (response.data.message === "success") {
            localStorage.setItem("token", response.data.token);
            this.$store.commit("user", response.data.user);
            return this.$router.push("/");
          }
        }
        this.errors = "Houve um problema ao gerar o token de autenticação.";
      } catch (error) {
        console.log("error", error);
        this.errors =
          "Ocorreu um problema de comunicação com o serviço de autenticação.";
      }
    },
    getErrorMessage(error) {
      return error[0].replace(["[", "]", "(", ")"], "");
    },
  },
  mounted() {
    this.$store.commit("swithHeader", false);
  },
};
</script>
