<template>
  <div class="grid grid-cols-5">
    <div
      class="text-center my-4 mx-8 shadow-lg rounded-lg bg-secondary space-y-4 text-gray-100 col-span-2"
    >
      <div class="my-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto w-10"
          fill="none"
          viewBox="0 0 24 24"
          stroke="white"
          stroke-width="1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          />
        </svg>
      </div>
      <span class="text-2xl tracking-widest font-bold">Cadastre-se</span>
      <form
        class="bg-primary mx-8 rounded-lg shadow-lg"
        @submit.prevent="onSubmit"
      >
        <div class="form-control px-8">
          <error-slot :errors="errors" v-if="errors" />
          <div class="grid grid-cols-2 gap-x-4 mt-4">
            <!-- Nome -->
            <div class="flex flex-col">
              <label class="label">
                <span class="label-text text-white">Nome</span>
              </label>
              <input
                type="text"
                required
                placeholder="Body"
                class="input"
                v-model="form.name"
              />
            </div>
            <!-- Sobrenome -->
            <div class="flex flex-col">
              <label class="label">
                <span class="label-text text-white">Sobrenome</span>
              </label>
              <input
                type="text"
                required
                placeholder="Builder"
                class="input"
                v-model="form.lastname"
              />
            </div>
          </div>
          <!-- Email -->
          <label class="label">
            <span class="label-text text-white">E-mail</span>
          </label>
          <input
            required
            type="email"
            placeholder="body@bilder.com.br"
            class="input input-bordered"
            v-model="form.email"
          />
          <div class="grid grid-cols-2 gap-x-4">
            <!-- Senha -->
            <div class="flex flex-col">
              <label class="label">
                <span class="label-text text-white">Senha</span>
              </label>
              <input
                required
                type="password"
                placeholder=""
                class="input input-bordered"
                v-model="form.password"
              />
            </div>
            <div class="flex flex-col">
              <!-- Confirmação de Senha -->
              <label class="label">
                <span class="label-text text-white">Confirmação de Senha</span>
              </label>
              <input
                required
                type="password"
                placeholder=""
                class="input input-bordered"
                v-model="form.password_confirmation"
              />
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="flex flex-col">
              <!-- Genero -->
              <label class="label">
                <span class="label-text text-white">Genero</span>
              </label>
              <select class="select" v-model="form.gender">
                <option disabled selected></option>
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
                <option value="N">Não binário</option>
              </select>
            </div>
            <div class="flex flex-col">
              <label class="label">
                <span class="label-text text-white"
                  >Concordo com os termos</span
                >
              </label>
              <input
                type="checkbox"
                v-model="form.agree"
                class="checkbox checkbox-secondary mx-auto mt-2"
              />
            </div>
          </div>
          <div class="w-full flex flex-row justify-between my-8">
            <router-link class="btn btn-secondary btn-xs md:btn-md" to="/login">
              Login
            </router-link>
            <button
              type="submit"
              class="btn btn-secondary btn-xs md:btn-md"
              :disabled="invalid"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-span-3">
      <img
        class="w-full min-h-screen"
        src="/images/Register/gym_inspire.jpg"
        alt="Sua casa"
      />
    </div>
  </div>
</template>
<script>
import axios from "axios";
import ErrorSlot from "../Resources/ErrorSlot.vue";
import Swal from "sweetalert2";

export default {
  name: "RegisterDefault",
  components: {
    ErrorSlot,
  },
  data() {
    return {
      errors: null,
      invalid: false,
      form: {
        name: "",
        lastname: "",
        email: "",
        password: "",
        password_confirmation: "",
        gender: "",
        agree: false,
      },
    };
  },
  methods: {
    async onSubmit() {
      try {
        const response = await axios.post(
          "http://localhost/api/register",
          this.form
        );
        if (response.data.user) {
          this.errors = null;

          await Swal.fire({
            title: "Usuário criado!",
            icon: "success",
            html: "<span class='text-success font-bold'>Você está sendo redirecionado para o login.</span>",
            timer: 2000,
            timerProgressBar: true,
          });

          return this.$router.push("/login");
        }
      } catch (error) {
        this.errors = error.response.data.message;
      }
    },
  },
  mounted() {
    this.$store.commit("swithHeader", false);
  },
};
</script>
