<template>
  <div class="min-w-full min-h-full">
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from "./components/Layouts/Header.vue";
import axios from "axios";

export default {
  name: "App",
  components: {
    Header,
  },
  data() {
    return {
      user: null,
    };
  },
  methods: {
    async updateUser() {
      if (localStorage.getItem("token")) {
        const response = await axios.get("/user");
        this.$store.commit("user", response.data);
      }
    },
  },
};
</script>

<style></style>
